body {
    font-family: Arial, Helvetica, sans-serif;
}

.input-grid {
    margin-bottom: 15px;
}

.delete-grid {
    align-items: center;
}

.delete-grid,
.input-grid { 
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    column-gap: 15px;
    row-gap: 10px;
}

.name-input,
.date-input {
    font-size: 15px;
    padding: 5px;
}

.name-string,
.date-string {
    font-size: 15px;
}

.delete-button,
.add-button {
    padding: 8px;
    font-size: 15px;
}

.add-button { 
    background-color: rgb(21, 147, 109);
    border: none;
    color: white;
    border-radius: 8px;
    transition: 0.5s;
}

.add-button:hover {
    cursor: pointer;
    opacity: 0.8;
}

.delete-button {
    background-color: rgb(196, 48, 48);
    border: none;
    border-radius: 8px;
    color: white;
    transition: 0.5s;
}

.delete-button:hover {
    cursor: pointer;
    opacity: 0.8;
}

.complete-button {
    background-color: rgb(44, 163, 171);
    border: none;
    border-radius: 8px;
    color: white;
    padding: 8px;
    font-size: 15px;
    transition: 0.5s;
}

.complete-button:hover {
    cursor: pointer;
    opacity: 0.8;
}

.completed {
    text-decoration: line-through;
    opacity: 0.6;
}

.clear-all-button {
    background-color: rgb(196, 133, 39);
    border: none;
    border-radius: 8px;
    color: white;
    padding: 8px;
    font-size: 15px;
    transition: 0.5s;
}

.clear-all-button:hover {
    cursor: pointer;
    opacity: 0.8;
}